{{define "social-cards"}}
<meta property="og:type" content="website">
<meta property="og:url" content="https://typedgo.com">
<meta property="og:title" content="TypedGo - Tools to Go type safe">
<meta property="og:description" content="Tools to Go type safe.">
<meta property="og:image" content="https://typedgo.com/.assets/card-og.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://typedgo.com">
<meta name="twitter:title" content="TypedGo - Tools to Go type safe">
<meta name="twitter:description" content="Tools to Go type safe.">
<meta name="twitter:image" content="https://typedgo.com/.assets/card-twitter.png">
{{end}}