:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: light-dark(#444, #bbb);

  background-color: light-dark(#ffffff, #000);

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;

  margin: 0 auto;

  scroll-behavior: smooth;
}

body {
  width: max(100%, 1000px);
  border: 1px solid #eee;
  padding: max(20px, 5vw) max(20px, 5vw) 60vh;

  display: grid;
  grid-template-columns: minmax(calc(1em + 1vw), 1fr) minmax(700px, auto) minmax(calc(1em + 1vw), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  ul,
  ol {
    padding-inline-start: 20px;
    list-style-position: inside;
  }

  li {
    line-height: 2em;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    color: light-dark(#000, #eee);
    line-height: 2em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  p {
    line-height: 2em;
  }

  header {
  }
}
